<!-- box_calculation.html -->
{% extends "base.html" %}

{% block title %}Box Calculation{% endblock %}

{% block content %}
    
        <h1>Box Calculator</h1>
        <form method="post">
            <div class="form-group">
                <label for="goal_boxes">Goal Boxes:</label>
                <input type="number" class="form-control" id="goal_boxes" name="goal_boxes" required>
            </div>
            <div class="form-group">
                <label for="cartons_per_box">Cartons per Box:</label>
                <input type="number" class="form-control" id="cartons_per_box" name="cartons_per_box" required>
            </div>
            <div class="form-group">
                <label for="packets_per_carton">Packets per Carton:</label>
                <input type="number" class="form-control" id="packets_per_carton" name="packets_per_carton" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate</button>
        </form>
        <p></p>
        {% if carts_needed is not none %}
            <div class="alert alert-success mt-3">
                <strong>Result:</strong> {{ carts_needed }} carts are needed. Total time: {{ hours }} hours and {{ minutes }} minutes.
                <p>
                    <strong>*</strong> <i>Time is straight time. Does not include downtime or breaks.</i>
                </p>
            </div>
          
        {% endif %}
        <p>
            <a href="/"><button type="button" class="btn btn-success btn-sm">Back</button></a>
        </p>
{% endblock %}
