<!-- cart_time.html -->
{% extends "base.html" %}

{% block title %}Cart Time Calculator{% endblock %}

{% block content %}
        <h1>Cart Time Calculator</h1>
        <form method="post">
            <div class="form-group">
                <label for="trays_per_minute">Trays per Minute:</label>
                <input type="number" step="any" class="form-control" id="trays_per_minute" name="trays_per_minute" required>
            </div>
            <button type="submit" class="btn btn-primary">Calculate Time</button>
        </form>
        {% if hours is not none %}
            <div class="alert alert-success mt-3">
                <strong>Result:</strong> Time to complete one cart is {{ hours }} hours and {{ minutes }} minutes.
                
            </div>
            
        {% endif %}
        <p><a href="/"><button type="button" class="btn btn-success btn-sm">Back</button></a></p>
    </div>

{% endblock %}
